*
{
	margin:0px;
	padding:0px;
}

#wrap
{
	min-height:100%;
	background: url(../res/bg.png) fixed;
}

#main
{
	padding-top: 65px;
	padding-bottom:50px;
	width:70%;
	margin:auto;
}

#footer
{
	background: url(../res/bghf.png);
	position: relative;
	margin-top: -50px; 
	height: 50px;
	box-shadow: -1px -1px 15px #000000;
	clear:both;
}

#nav_search_bar
{
	height:30px;
	padding-top:5px;
}

#ink_spill
{
	padding:0px; 
}

#ink_spill textarea
{
	resize:none;
	font-family: 'Raleway', ariel, serif;
	width:100%;
	padding:10px;
	font-size:16px;
}

#ink_spill input[type="submit"]
{
	margin-left:88%;
	width:12%;
	height:3.5%;
	font-size:18px;
	background:red;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#a2bce8),
            color-stop(90%,#4b7bcf));
	border:1px solid white;
	color:white;
	border-radius:5px;
}

#ink, #column
{
	background:white;
	overflow:auto;
	border-radius: 5px;
	box-shadow:1px 1px 5px #888888;
	margin-bottom:20px;
	padding:10px;
 }
 
#prof_img
 {
	/*background-color:yellow;*/
	position:relative;
	width:15%;
	float:left;
 }
 
 #prof_img img
 {
	height:70px;
	width:70px;
	border: 1px solid lightgrey;
 }
 
 #ink_post
 {
	/*background-color:orange;*/
	position:relative;
	width:85%;
	float:right;
	font-family: 'Raleway', ariel, serif;
	font-size:14px;
	margin-top:5px;
 }
 
 #ink_options
 {
	/*background-color:lightgreen;*/
	clear:both;
	position:relative;
	padding-left:11.7%;
 }
 
 #ink_header
 {
	position:relative;
	width:85%;
	float:right;
	/*background-color:orange;*/
}
 
 #header_left
 {
	position:relative;
	width:65%;
	float:left;
	/*background-color:lightblue;*/
 }
 
 #header_left span, #header_right span
 {
	font-family: 'Raleway', ariel, serif;
	font-size:14px;
	font-weight:bold;
 }
 
 #header_right
 {
	position:relative;
	width:35%;
	float:right;
	/*background-color:yellow;*/
	text-align:right;
	color:grey;
 }
 

 #ink_options a 
  {
	padding-left:20px;
	
 }
 
 #ink_options a:hover
 {
	text-decoration:none;
 }
 
#column h1
{
	text-align:center;
}
 
#form_table 
{
	margin:auto;
	border:none;
	font-family:'Raleway', sans, serif;
}

#form_table  label
{
	display:inline-block;
	text-align: right; 
	padding-top:10px;
	padding-bottom:10px;
	font-size:14px;
	font-weight:bold;
	width:160px;
}

#form_table input[type="text"]
{
	width:250px;
	height:35px;
	font-size:14px;
	padding:10px;
	margin:7px;
}

#form_table  input[type="submit"]
{	
	color:white;
	box-shadow:1px 1px 5px #888888;
	border:none;
	font-size:14px;
	width:120px;
	height:25px;
	border-radius:5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#2fc900), color-stop(90%,#259e00));
	margin:7px;
}

#form_table  input[type="submit"]:hover
{
	cursor:pointer;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#5fd13d), color-stop(90%,#259e00));
}

#alert
{
	width:500px;
	display:block;
	margin:auto;
	text-align:center;
}