Options -Indexes
Options -MultiViews
RewriteEngine ON

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f

ErrorDocument 404 /error


RewriteRule ^$ /home [L,R=301]
RewriteRule ^search/(.*)/?$ index.php?controller=search&action=index&search=$1 [QSA,L]
RewriteRule ^([a-zA-Z-]+)/([a-zA-Z-]+)/?$ index.php?controller=$1&action=$2 [QSA,L]
RewriteRule ^([a-zA-Z-]+)/?$ index.php?controller=$1&action=index [QSA,L]
RewriteRule ^profile/([0-9]+)/?$ index.php?controller=profile&action=index&u_id=$1 [QSA,L]



