/******************************************************************/
/************************* General Styles *************************/
/******************************************************************/

@font-face {font-family: ProximaNova; src: url('../fonts/ProximaNovaLight.otf')}
* {margin:0px;padding:0px;}
html {overflow: -moz-scrollbars-vertical;overflow-y: scroll;}
.white, .white a {color: #fff;}
#nav_search_bar {width:200px;}

#wrap
{
	min-height:100%;
	background: url(../res/bg.png) fixed;
}

#main
{
	padding-top: 65px;
	padding-bottom:50px;
	width:70%;
	margin:auto;
}

#footer
{
	background: url(../res/bghf.png);
	position: relative;
	margin-top: -50px; 
	height: 50px;
	box-shadow: -1px -1px 15px #000000;
	clear:both;
}
 
#form_table 
{
	margin:auto;
	border:none;
	font-family:'Raleway', sans, serif;
}

#form_table label
{
	display:inline-block;
	text-align: right; 
	padding-top:10px;
	padding-bottom:10px;
	font-size:14px;
	font-weight:bold;
	width:160px;
}

#form_table input[type="text"], #form_table input[type="password"]
{
	width:250px;
	height:35px;
	font-size:14px;
	padding:10px;
	margin:7px;
	color:black;
}

#form_table  input[type="submit"] {margin:7px;}

#ink, .column
{
	background:white;
	overflow:auto;
	border-radius: 5px;
	box-shadow:1px 1px 5px #888888;
	margin-bottom:20px;
	padding:10px;
	word-wrap: break-word;
 }
 
 .column h1
{
	text-align:center;
}

.alert
{
	width:600px;
	display:block;
	margin:auto;
	text-align:center;
}

.clear {clear:both;}
.no-padding {padding:0;}
.center {float:none; margin-left:auto; margin-right:auto;}
.load-gif {display:none;}

/*************************************************************/
/************************* Home Page *************************/
/*************************************************************/

#ink_spill
{
	padding:0px; 
	margin-bottom:20px;
}

#ink_spill textarea
{
	resize:none;
	font-family: 'ProximaNova', ariel, serif;
	width:100%;
	padding:10px;
	margin-bottom:7px;
	font-size:18px;
}

#ink_spill input[type="submit"]
{
	display:inline;
	margin-left:88%;
}

#home_img
{
	height:70px;
	width:70px;
	border: 1px solid lightgrey;
}

/*************************************************************/
/************************* Ink Posts *************************/
/*************************************************************/
 
.post-img-container
 {
	position:relative;
	width:15%;
	float:left;
 }
 
 .post-img
 {
	height:70px;
	width:70px;
	border: 1px solid lightgrey;
 }
 
 #ink_post
 {
	position:relative;
	width:85%;
	float:right;
	font-family: 'ProximaNova', ariel, serif;
	font-size:16px;
	margin-top:5px;
 }
 
 #ink_options
 {
	clear:both;
	position:relative;
	padding-left:11.7%;
 }
 
 #ink_header
 {
	position:relative;
	width:85%;
	float:right;
}
 
 #header_left
 {
	position:relative;
	width:65%;
	float:left;
 }
 
 #header_left span
 {
	font-family: 'Raleway', ariel, serif;
	font-size:14px;
	font-weight:bold;
 }
 
 #header_right
 {
	position:relative;
	width:35%;
	float:right;
	text-align:right;
	color:grey;
 }
 
 #ink_options a 
 {
	padding-left:20px;
 }
 
 #ink_options a:hover
 {
	text-decoration:none;
 }
 
/****************************************************************/
/************************* Profile Page *************************/
/****************************************************************/

.heading
{
	font-size:16px;
	font-weight:bold;
}

.display_name
{
	text-align:left;
	font-size:22px;
}

.prof-info
{
	font-size:16px;
}

.prof-img
{
	display:inline;
	float:left;
	height:125px;
	width:125px;
	margin-right:15px;
	border-radius:4px;
}

/****************************************************************/
/************************* Search Page *************************/
/****************************************************************/

#search_result
{ 
	height:90px;
	padding:10px;
	border-top:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
}

#search_result img
{
	height:70px;
	width:70px;
	border:1px solid lightgrey;
}

#search_result p:first-child
{
	font-family: 'Raleway', ariel, serif;
	font-size:14px;
	font-weight:bold;
}

#search_result p:nth-child(2)
{
	font-family: 'Raleway', ariel, serif;
	font-size:14px;
	color:grey;
}

#datepicker
{
	background-color:white;
	cursor:pointer;
}