#RewriteEngine on
#RewriteBase /workstudy/html
#RewriteRule ^([a-z]+)$ index.php?page=$1 [L]
#RewriteRule ^(js|css|res|bootstrap)($|/) - [L]
#RewriteRule ^([a-z]+)/([0-9]+)$ index.php?page=$1&u_id=$2 [L]
